.container {
  display: inline;
}

.iconButton {
  background-color: transparent;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  border-radius: 50%;
  width: 3.3125rem;
  height: 3.3125rem;
}

.lightPurple {
  background-color: #8f41d2;
}

.lightGray {
  background-color: #f0f1f5;
}

.title {
  font-size: 0.75rem;
  font-weight: bold;
  text-align: center;
  margin-top: 0.625rem;
}
