.iconButton {
  background-color: transparent;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  border-radius: 50%;
  width: 3.3125rem;
  height: 3.3125rem;
}

.lightPurple {
  background-color: #8f41d2;
}
