.accountDashboard {
  padding: 1.5rem 1rem;
}

.title {
  font-weight: bold;
  margin-bottom: 1.125rem;
}

.balance {
  font-weight: bold;
  font-size: 1.5rem;
  color: #39393c;
  margin-bottom: 2.0625rem;
}

.actionsWrap {
  width: 100%;
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.actionsWrap::-webkit-scrollbar {
  display: none;
}

.actionButtons {
  display: inline-flex;
  gap: 1rem;
}
